
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$header-color: black;
$header-font: 'Libre Franklin', sans-serif;
$body-font: 'Libre Baskerville', serif;

$primary-color: #CCCCCC;
$secondary-color: #003366;
$accent-color: #FFFFFF; 
// #CCCC99;
// #FF3333 #999999 #669999 #003333
