
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Libre+Franklin:700");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.center {
  text-align: center;
}

.justify-space-around {
    justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-horizontal {
  flex-direction: horizontal;
}

.flex-vertical {
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
}

p {
  font-family: $font-family-sans-serif;
  font-size: 18px;
}

// styling for the alert message for the contact form

.alert-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.alert {
  margin-top: 100px;
  text-align: center;
  display: inline-block;
}

// the hero on the home page
.hero-container {
  height: 100vh;
  width: 100%;
  background-image: url('../img/anime-background.jpg');
  background-position: center center;
  background-size: cover;
  text-align: center;
  position: relative;
  overflow: hidden;

  .hero-text {
    padding-top: 250px;
    color: white;

    h1 {
      font-size: 40px;
      transition: all 2s ease;
    }

  }

  .hero-text h1:nth-child(1) {
    transition-delay: 0;
  }

  .hero-text h1:nth-child(2) {
    transition-delay: 1s;
  }

  .hero-text h1:nth-child(3) {
    transition-delay: 2s;
  }

  .hero-text h1:nth-child(4) {
    transition-delay: 4s;
  }

  .hero-text.hidden {
    opacity: 0;
  }

  .hero-text.hidden h1:nth-child(1) {transform: translateX(-100%);}
  .hero-text.hidden h1:nth-child(2) {transform: translateX(-100%);}
  .hero-text.hidden h1:nth-child(3) {transform: translateX(-100%);}
  .hero-text.hidden h1:nth-child(4) {transform: translateY(500px);}

}

// header for all pages


header {
  z-index: 2;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 0;
  height: 100px;
  text-align: left;
  align-items: center;
  background: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(0,0,0, 0));

  .nav-link-btn {
    border-radius: 2px;
  }
  .nav-link-btn:hover {
    background-color: $secondary-color;
    padding:20px;

    transition: .2s;
  }

  a {
    font-size: 18px;
    color: $accent-color;
  }

}


//------------------------------------------------------------------------

// projects section HOME


//------------------------------------------------------------------------

.projects-section-container {
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;

  h1 {
    color: $accent-color;
  }


}
.projects {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(0,0,0, 0.4);
}

.project {
  background: $secondary-color;
  color: $accent-color;
  overflow: hidden;
  text-align: center;
  align-items: center;
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 250px;
  min-width: 300px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
  filter: grayscale(40%);
}


.project-1 { background-image: url('../img/javascript.jpg'); display: flex; }
.project-2 { background-image: url('../img/php.jpg'); display: flex;}
.project-3 { background-image: url('../img/wordpress-icon.png'); display: flex;}
.project-4 { background-image: url('../img/javascript.jpg'); display: flex;}
.project-icon-1 {background-image: url('../img/javascript-background.png');}
.project-icon-2 {background-image: url('../img/php-background.png');}
.project-icon-3 {background-image: url('../img/wordpress-icon.png');}
.project-icon-4 {background-image: url('../img/html-css.png');}

.project-icon {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  width: 80px;
  transition: 1s;
}


/* Flex Items */
.project > * {
  margin: 0;
  width: 30%;
  transition: transform .2s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project > *:first-child { transform: translateY(-100%); }
.project-2.open-active { background-image: url('../img/googlenews-laptop.png'); }
.project-1.open-active { background-image: url('../img/rock-paper-scissors.png'); }
.project-3.open-active { background-image: url('../img/wordpress.png'); }
.project-4.open-active { background-image: url('../img/shopping-cart.png'); }
.project-5.open-active { background-image: url('../img/html-final.png'); }
.project.open-active > *:first-child { transform: translateY(0); }
.project.open-active > *:nth-child(2) { transform: translateY(-200%); transition: 0.5s; }
.project > *:nth-child(3) { transform: translateY(0); }
.project.open-active > *:nth-child(3) { transform: translateY(300%); }
.project > *:nth-child(4) { transform: translateY(200%); }
.project.open-active > *:nth-child(4) { display: none; }
.project > *:last-child { transform: translateY(150%); }
.project.open-active > *:last-child { transform: translateY(0); }

.project p {
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 14px;
}

.project:hover {
  box-shadow: 5px 5px 5px black;
  filter: none;

}

.project:hover > *:nth-child(4) {
  transform: translateY(50%);
}

.open-active {
  background-size: contain;
  background-repeat: no-repeat;
  filter: none;
  box-shadow: 5px 5px 5px black;
}

.project > *:nth-child(4) {
  font-size: 12px;
}

.project a {
  color: black;
}

.project.open {
  flex: 1.5;
}

.project-link-btn {
  background-color: $accent-color;
  width: 120px;
  height: 5px;
  border-radius: 20px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .projects {
        margin-left: 0;
        margin-right: 0;
    }
    .about-text-container p {
      font-size: 14px;
    }
}

//------------------------------------------------------------------------

// HOME PAGE about section


//------------------------------------------------------------------------

.about-section {
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: left;
  height: 100vh;
  padding: 100px;
  align-items: center;


  .profile-picture {
    height: 280px;
    width: 230px;
    min-width: 230px;
    border: 1px solid black;
    border-radius: 200px;
    background-image: url('../img/profile-picture.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }

  .about-text-container {
    width: 800px;
    background-color: $primary-color;
    border: 1px solid black;
    padding: 15px;
    display: inline-block;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
  }
}

.skills-description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;

  .skills-description {
    border: 1px solid darkgrey;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: $secondary-color;
    color: $accent-color;

    }
}
@media only screen and (max-width: 1247px) {
    .about-section {
        height: 100%;

    }
  }



//------------------------------------------------------------------------

// Contact Page section


//------------------------------------------------------------------------


.contact-body-section {
  height: 100%;
  max-height: 100%;
  text-align: center;
  margin-bottom: 200px;
  margin-top: 60px;


  h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    color: $accent-color;
  }
  .contact-description {
    color: $accent-color;
  }

  .contact-section {
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    color: black;


    .iframe-container {
      background-color: $primary-color;
      margin-right: 50px;
      margin-left: 50px;
      border-radius: 10px;
    }
  }

  .contact-form-container {
    background-color: $primary-color;
    height: 60%;
    width: 60%;
    max-width: 500px;
    min-width: 300px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 25px;

    p {
      padding: 50px;
      text-align: center;
    }

    form {
      display: inline-block;
      width: 80%;
      padding-bottom: 20px;
    }
  }
}



// background for pages other than the HOME page


.background-image {
  background-image: url('../img/anime-background.jpg');
  background-size: cover;
  background-position: center center;
  height: 100%;
  background-repeat: no-repeat;

}

.page {
  padding-top: 200px;
}
footer {
  background-color: black;
  color: $accent-color;
}

footer ul {
  list-style-type: none;
  display: inline-block;
  align-items: center;
}
